<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>responsive images</title>
    <style>
      body {
        min-block-size: 100vh;
        display: grid;
        place-items: center;
      }
      main {
        display: grid;
      }
      img {
        inline-size: 100%;
        max-block-size: 95vh;
        object-fit: cover;
      }
      main > * {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
      }
      h1 {
        color: white;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <main>
      {{content | safe}}

    </main>
  </body>
</html>