---
layout: "base.njk"
---
{# {% picture 'public/atp-tour-amzon-prime.webp', 'atp tour image' %} #}
{# {% picture 'https://westwarwicks.club/west-warwicks-social-image.png', 'wwsc grounds', ['image/avif', 'image/webp'], 'required', 'sizes="50vw"', 'class="full-width"' %} #}
{% picture 'https://images.ctfassets.net/ffrbyg3cfykl/4f6GusQ1NNrh2ObQ93XJpC/fbe5e48083ec2d2f8621dbdc1af7b141/me.webp', 'andy stevenson' %}
